<template class="view">
  <section id="settings" class="hidden">
    <div class="row">
      <div class="col-xs-10">

        <form id="settings-form" class="form-horizontal">
          <div class="form-group">
            <label for="input-param1" class="col-sm-2 control-label">First Param</label>
            <div class="col-sm-10">
              <input type="text" v-model="param1" class="form-control" id="input-param1" placeholder="enter param 1">
            </div>
          </div>

          <div class="form-group">
            <label for="input-param2" class="col-sm-2 control-label">Second param</label>
            <div class="col-sm-10">
              <input type="text" v-model="param2" class="form-control" id="input-param2" placeholder="enter param 1">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" class="btn btn-default" data-action="save-settings">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script type="text/javascript">
      require('./views/settings/settings')
    </script>
  </section>
</template>
