<template class="view">
  <section id="page-3" class="hidden">
    <div class="col-xs-12">
      <a href="#" data-action="start">start</a>
    </div>
    <div id="p3-result" class="col-xs-12">

    </div>

    <script id="page-3-template" type="text/x-handlebars-template">
      <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
          {{body}}
        </div>
      </div>
    </script>

    <script type="text/javascript">
      require('./views/page-3/page-3')
    </script>
  </section>
</template>
